.bg-primary,
.btn-primary,
.btn-outline-primary:hover,
.badge-primary,
.alert-primary {
    background-image: linear-gradient(to bottom right,#1488CC,#6c63ff);
}



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

img.rotate {
    animation: rotate 15s infinite linear;
}

@import '~bootstrap/scss/bootstrap.scss';
.card-columns {
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }

    @include media-breakpoint-only(lg) {
        column-count: 5;
    }

    @include media-breakpoint-only(md) {
        column-count: 3;
    }

    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
}

.badge-framework {
    color: #fff;
    background-image: linear-gradient(to bottom right, #000428, #004e92);
}

.badge-langage {
    color: #fff;
    background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
}

.badge-design {
    color: #fff;
    background-image: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
}

.badge-database {
    color: #fff;
    background-image: linear-gradient(to bottom right, #3C3B3F, #605C3C);
}

.badge-autre {
    color: #000;
    background-image: linear-gradient(to bottom right, #DCE35B, #45B649);
}
